<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-4">
    <h2>User Insert</h2>
    <form action="/api/users/insertuser" method="post" th:object="${userDto}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required>

        <button type="submit">Insert User</button>
    </form>
</div>
</body>
</html>